# Arquivos de Estado do Terraform (Contêm sua infraestrutura em texto puro, incluindo IPs e senhas)
*.tfstate
*.tfstate.*

# Arquivo de backend oculto
backend.hcl

# Diretórios internos do Terraform
.terraform/
.terraform.lock.hcl

crash.log
crash.*.log

# Arquivos de Variáveis Sensíveis
*.tfvars
*.tfvars.json
.env

*.retry
ansible/inventory/hosts.ini

# Chaves SSH e Certificados da Oracle
*.pem
*.pub
*.key
id_rsa*